
* {
margin:0;
padding:0;}

html, body{
height:100%;
}



#main{
width:10000px;
height:100%;
position: relative;
bottom:0;
/* https://cssgradient.io/
background: rgb(60,118,153);
background: linear-gradient(180deg, rgba(2,0,36,100) 30%, rgba(60,118,153,100) 81%, rgba(60,118,153,100) 83%, rgba(60,118,153,100) 89%); */
background:black;
}

/*front cover logo*/
.wrapper {
            position: absolute;
            width: 400px; /* size of logo*/
            top: 40%;
            left: 620px;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            color: #fff;
            font : normal 300 64px/1 'Josefin Sans', sans-serif;
            text-align: center;
          }


.st1 {
        stroke: #fff;
        fill:#212121;
        stroke-dasharray:300;
        opacity: 10;
        animation: animate1 3s cubic-bezier(0,0.23,1,.1);}

        @keyframes animate1 {
            0%{
                  opacity:0;
                  fill: none;
                  stroke-dashoffset:300 ;}

            30%{  opacity:10;
                  fill:none;
                  stroke-dashoffset:300 ;}

            90%{
                  fill:rgba(255,255,255,0);}

            100%{
                  fill:rgba(255,255,255,1);
                  stroke-dashoffset: 0;}}

  .st0 {
        stroke: #fff;
        fill:#fff;
        stroke-dasharray:650;
        opacity: 10;
        animation: animate2 3s cubic-bezier(0,0.23,1,.1);}



             @keyframes animate2 {
              0%{
                opacity:0;
                fill: none;
                stroke-dashoffset:650 ;}

              30%{  opacity:10;
                    fill:none;
                    stroke-dashoffset:650 ;}

              90%{
                    fill:rgba(255,255,255,0);
                  }

              100%{
                    fill:rgba(255,255,255,0);
                    stroke-dashoffset: 0;}}

/*title */


                    * {
                      font-family: "Montserrat", sans-serif;
                    }

                    h1 {
                      color: #4d3349;
                      background-color: currentColor;
                      position:relative;
                      height:710px;
                      width:1250px;
                      top:-300px;
                      left:-150px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      font: 800 4rem Montserrat, sans-serif;
                      letter-spacing: -0.07ex;
                      animation: anim 4.5s infinite alternate ease-in-out;
                      z-index: 3; /*after cover*/
                    }

                    @keyframes anim {
                        from {
                          text-shadow: 0 0 10px transparent;
                        }
                        to {
                          text-shadow: 0 28px 80px rgba(0, 0, 0, 1);
                        }
                      }




/*btn, page movement, and audio */

                    .center-all {
                      height:710px;;
                      width:1250px;
                      display: flex;
                      justify-content: center;
                      align-items: center;

                      color: #fff;
                      position: relative;



                    }

                    .text-center {
                      text-align: center;
                    }


                    audio{position:relative;
                      z-index: 4;
                      left:180px;
                      top:-630px;

                    }


                    .clip {
                      position: absolute;
                      transition: 0.8s ease-in-out;
                      background: #be9ab9;
                      z-index: 5; /*cover on top*/
                      -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
                              clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
                      transition-property: -webkit-clip-path;
                      transition-property: clip-path;
                      transition-property: clip-path, -webkit-clip-path;
                    }
                    .clip .content {
                      opacity: 1;
                      transition: 0.3s;
                    }
                    .clip.active {
                      -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 100% 100%);
                              clip-path: polygon(0 100%, 100% 100%, 100% 0, 100% 100%);
                    }
                    .clip.active .content {
                      opacity: 0;
                    }

                    .movebtn {
                      position: relative;
                      top:230px;
                    }


                    .btn {
                      background:  #be9ab9;
                      color: #fff;
                      border-radius: 4px;
                      padding: 0.75em 1em;
                      border: 2px solid #fff;
                      outline: none;
                      text-transform: uppercase;
                      cursor: pointer;
                      transition: 0.3s ease-in-out;
                      margin-top: 30px;
                      box-shadow: 0px 0px 0px #000;
                    }
                    .btn:hover {
                      background: #60405c;
                      box-shadow: 2px 2px 8px 1px #000;
                      -webkit-transform: translate(0, -2px);
                              transform: translate(0, -2px);
                    }
                    .btn.dark-border {
                      border: none;
                      box-shadow: 2px 2px 5px #666;
                      position:relative;
                      top:-400px;
                      right:-400px;
                      z-index: 4;
                    }

                    #clip .container {
                      transition: 0.3s ease-in-out;
                      -webkit-transform: translate(0, 0);
                              transform: translate(0, 0);
                      opacity: 1;
                    }
                    #clip.active .container {
                      -webkit-transform: translate(0, 50px);
                              transform: translate(0, 50px);
                      opacity: 0;
                    }

                    .active + section .container {
                      -webkit-transform: translate(0, -5px);
                              transform: translate(0, -5px);
                      -webkit-animation: dropDown 0.3s 0.4s forwards;
                              animation: dropDown 0.3s 0.4s forwards;
                      opacity: 0;
                    }

                    @-webkit-keyframes dropDown {
                      from {
                        opacity: 0;
                        -webkit-transform: translate(0, -5px);
                                transform: translate(0, -5px);
                      }
                      to {
                        opacity: 1;
                        -webkit-transform: translate(0, 0);
                                transform: translate(0, 0);
                      }
                    }

                    @keyframes dropDown {
                      from {
                        opacity: 0;
                        -webkit-transform: translate(0, -5px);
                                transform: translate(0, -5px);
                      }
                      to {
                        opacity: 1;
                        -webkit-transform: translate(0, 0);
                                transform: translate(0, 0);
                      }
                    }



/*scroll wrapper cards */
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
 white-space: nowrap;
}

.scrolling-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8{
  width: 1250px;
  height: 710px;
  display: inline-block;

}

/*.card1 {
  background-image: url("./images/1.png");
  background-size: contain;
  background-repeat: no-repeat;

}*/



.card2 {
  background-image: url("./images/2.png");
  background-size: contain;
  background-repeat: no-repeat;


}

.card3 {
  background-image: url("./images/3.png");
  background-size: contain;
  background-repeat: no-repeat;

}

.card4 {
  background-image: url("./images/4.png");
  background-size: contain;
  background-repeat: no-repeat;

}

.card5 {
  background-image: url("./images/5.png");
  background-size: contain;
  background-repeat: no-repeat;

}

.card6 {
  background-image: url("./images/6.png");
  background-size: contain;
  background-repeat: no-repeat;

}

.card7 {
  background-image: url("./images/7.png");
  background-size: contain;
  background-repeat: no-repeat;

}

.card8 {
  background-image: url("./images/8.png");
  background-size: contain, contain;
  background-repeat: no-repeat;

}

.card10{

  position: relative;
  left: 1255px;
  top:-1045px;
  height: 710px;
  width:1254px;
  background-image: url("./images/10.png");
  background-size: contain;
  z-index:3;
}

.card11{

  position: relative;
  left: 2500px;
  top:-1750px;
  height: 710px;
  width:1250px;
  background-image: url("./images/11.png");
  background-size: contain;
  z-index: 3;
}

.card12{

  position: relative;
  left: 3765px;
  top:-2425px;
  height: 710px;
  width:1250px;
  background-image: url("./images/12.png");
  background-size: contain;
  z-index: 3;
}

.card13{

  position: relative;
  left: 5020px;
  top:-3170px;
  height: 710px;
  width:1250px;
  background-image: url("./images/13.png");
  background-size: contain;
  z-index: 3;
}

.card14{

  position: relative;
  left: 6270px;
  top:-3885px;
  height: 710px;
  width:1250px;
  background-image: url("./images/14.png");
  background-size: contain;
  z-index: 3;
}


.card15{

  position: relative;
  left: 7525px;
  top:-4590px;
  height: 710px;
  width:1250px;
  background-image: url("./images/15.png");
  background-size: contain;
  z-index: 3;
}

.card16{

  position: relative;
  left: 8780px;
  top:-5297px;
  height: 710px;
  width:1250px;
  background-image: url("./images/16.png");
  background-size: contain;

}

/*animation*/
#walk{
position: fixed;
left:900px;
bottom:60px;
height:238px;
width:145px;
background:url("./images/walkfoward.png");

}


.restart {
animation: play 1s steps(10);
}
@keyframes play{
from { background-position: 1414px; }
  to { background-position: 0px; }
}
